<h1><%= @wiki.title %></h2>
<small>Created by <%= @wiki.user.email %> at <%= @wiki.created_at %></small>
<p><%= @wiki.body %></p>
<%= link_to "Edit", edit_wiki_path %></br>
<%= link_to "Delete", @wiki, method: :delete %>
